* {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071C4D;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071C4D !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;
  height: 80px;
  border-radius: 0;
}

.btn-login {
  background-color: #071C4D;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #193E92;
  color: #ffffff;
}

header {
  padding: 184px 0 199px;
  margin-top: -78px;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

header h1,
header p {
  color: #ffffff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 25px;
}

.btn-cta {
  background-color: #F7AB28;
  color: #ffffff;
}

.btn-cta:hover {
  background-color: #FDBA46;
  color: #ffffff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-item {
  padding-top: 20px;
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
  font-weight: bold;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 575px;
  margin-bottom: -233px;
  margin-top: -52px;
  background-color: #001138;
}

.section-popular .section-wisata-popular-heading {
  margin-top: 173px;
}

.section-popular .section-wisata-popular-heading h2,
.section-popular .section-wisata-popular-heading p {
  color: #ffffff;
}

.section-popular .section-wisata-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

.section-popular .section-wisata-popular-heading p {
  font-size: 20px;
}

.section-popular-content .section-traveler .card-travel {
  min-height: 380px;
  background-color: #e4e6eb;
  color: #ffffff;
  background-size: cover;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.section-popular-content .section-traveler .travel-country {
  font-size: 20px;
  color: #ffffff;
}

.section-popular-content .section-traveler .travel-location {
  font-size: 26px;
  color: #ffffff;
}

.section-popular-content .btn-more-wisata {
  background-color: #D0CECC;
  color: #ffffff;
}

.section-popular-content .btn-more-wisata:hover {
  background-color: #ADAAA8;
  color: #ffffff;
}

.section-networks {
  margin-top: -176px;
  padding-top: 240px;
  padding-bottom: 74px;
  background-color: #ffffff;
}

.section-networks h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 45px;
}

.section-networks p {
  font-size: 20px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 45px;
}

.section-testimonial-heading p {
  font-size: 20px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 20px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 24px;
  color: #6e6e6e;
  min-height: 160px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-size: 20px;
  color: #6e6e6e;
  font-weight: normal;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-i-need-help {
  background-color: #D0CECC;
  color: #ffffff;
}

.section-testimonial-content .btn-i-need-help:hover {
  background-color: #ADAAA8;
  color: #ffffff;
}

.section-details-header {
  min-height: 335px;
  background-color: #E4E6EB;
  margin-top: -80px;
}

.section-details-content {
  margin-top: -235px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 40px;
}

.section-details-content .breadcrumb-item.active {
  color: #071C4D;
  font-weight: bold;
}

.section-details-content .card-details {
  padding: 33px;
  border-radius: 11px;
}

.section-details-content .card-details h3 {
  font-weight: 600;
  font-size: 20px;
  color: #071c4d;
}

.section-details-content .card-details .trip-information th {
  font-weight: 300;
  font-size: 18px;
  color: #071C4D;
}

.section-details-content .card-details .trip-information td {
  font-weight: 300;
  font-size: 18px;
  color: #071C4D;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #071C4D;
  color: #fff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #173E9A;
  color: #fff;
}

.section-details-content .card-details .text-blue {
  color: #071C4D;
  font-weight: bold;
}

.section-details-content .card-details .text-orange {
  color: #F7AB28;
  font-weight: bold;
}

.section-details-content .card-details .payment-instruction {
  font-weight: 300;
  font-size: 15px;
  color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 15px;
  color: #071C4D;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .bank-description {
  float: left;
  overflow: hidden;
  margin-left: 10px;
}

.section-details-content .card-details .bank .bank-image {
  width: 50px;
  height: 50px;
  float: left;
}

.section-details-content h1 {
  font-size: 35px;
}

.section-details-content h2 {
  font-size: 25px;
}

.section-details-content p {
  font-size: 20px;
  color: #929292;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .features {
  margin-top: 27px;
}

.section-details-content .features h3 {
  font-size: 16px;
  color: #071C4D;
  font-weight: bold;
  margin-bottom: 0;
}

.section-details-content .features p {
  font-size: 14px;
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .featured-images {
  width: 50px;
  height: 50px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 10px solid #34FA48;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .members .members-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-footer h5 {
  font-weight: bold;
}

.section-footer a {
  color: #071C4D;
  font-weight: normal;
}

.section-footer li {
  margin-bottom: 10px;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071C4D;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #071C4D;
  color: #ffffff;
}

.section-success .btn-home-page:hover {
  background-color: #153E9F;
  color: #ffffff;
}

@media (min-width: 992px) {
  .login-container {
    background: -webkit-gradient(linear, left top, right top, color-stop(62%, #ffffff), color-stop(38%, #E4E6EB));
    background: linear-gradient(90deg, #ffffff 62%, #E4E6EB 38%);
    width: 100vw;
    height: 100vh;
  }
}

.page-login {
  height: 100vh;
}

.page-login .section-left h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  color: #071C4D;
}

.page-login .section-right a {
  font-family: "Assistant";
  font-weight: 300;
  font-size: 16px;
}

.page-login .section-right form {
  border-radius: 22px;
}

.page-register {
  height: 100vh;
}

.page-register .section-left h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  color: #071C4D;
}

.page-register .section-right .card {
  min-width: 500px;
}

.page-register .section-right a {
  font-family: "Assistant";
  font-weight: 300;
  font-size: 16px;
}

.page-register .section-right form {
  border-radius: 22px;
}

@media (max-width: 994px) {
  .page-register .section-left h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
  .page-register .section-left h1 br {
    display: none;
  }
  .page-register .section-left img {
    display: none;
  }
  .page-register .section-right .card {
    margin-right: 20px;
    min-width: 250px;
    margin-bottom: 20px;
  }
}

.section-paket-content .section-traveler .card-travel {
  min-height: 550px;
  background-color: #e4e6eb;
  color: #ffffff;
  background-size: cover;
  padding: 30px;
  margin-bottom: 30px;
}

.section-paket-content .section-traveler .travel-country {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}

.section-paket-content .section-traveler .travel-location {
  font-size: 30px;
  color: #ffffff;
}

@media (max-width: 839px) {
  .card-details {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */